.location {
  &__content {
    padding: 48px 16px;
    background-color: $base-color-black;
    color: $base-color-white;
    @include breakpoint(lg) {
      display: flex;
      justify-content: space-around;
    }
  }

  &__icon {
    background-color: $base-color-nude;
    display: inline !important;
    position: absolute; 
    width: 56px;
    height: 72px;
    z-index: 1002;
  }
  
  &__button {
    position: absolute;
    z-index: 999;
    padding-left: 72px;
  }

  &__btn {
    @include breakpoint(xl) {
      position: absolute;
      left: 100px;
    }
  }

  &__sub-heading {
    @include breakpoint(lg) {
      margin: 60px;
    }
  }

  &__address {
    @include breakpoint(lg) {
      padding: 60px 20px 0 120px;
   }
  }
  
  &__svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  &__street {
    color: $base-color-nude;
    padding-top: 48px;

    @include breakpoint(lg) {
     padding: 0;
    }  
  }

  &__commentary {
    @include breakpoint(lg) {
      max-width: 540px;
     } 
  }

  &__footer {
    background-color: $base-color-nude;
    color: $base-color-black;
    padding: 48px 32px;

    @include breakpoint(lg) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }  

    @include breakpoint(lg) {
      justify-content: space-around;
    } 
  }

  &__footer p {
    @include breakpoint(lg) {
      padding: 0;
      max-width: 281px;
    }
  }

  &__footer-heading {
    max-width: 80px;
  }

  &__socials {
    @include breakpoint(lg) {
    display: flex;
    margin-left: 5px;
    }
  }

  &__social-icon {
    margin-right: 15px;
    fill: $base-color-black;
  }
}